<ul class="nav nav-tabs mb-4 d-print-none">
  <li class="nav-item">
    <a class="nav-link <?=$sponsorActive?>" href="./volunteer/Admin/Sponsor">Sponsors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <?=$volunteerActive?>" href="./volunteer/Admin/Volunteer">Volunteers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <?=$unapprovedActive?>" href="./volunteer/Admin/Punch/unapproved">Unapproved</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <?=$settingsActive?>" href="./volunteer/Admin/Settings">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" href="./index.php?module=users&action=user&command=logout">Log out</a>
  </li>
</ul>